<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naranghiking.user.dao.UserDao">

    <select id="findByEmail">
        select * from users
        where email = #{email};
    </select>

    <select id="findById">
        select * from users
        where id = #{userId};
    </select>

    <select id="select">
        select email, name, role, created_at from users
        where id = #{userId}
    </select>

    <select id="selectAll">
        select email, name, role, created_at from users
    </select>

    <insert id="insert">
        insert into users(email, pass, name)
        values (#{email}, #{pass}, #{name})
    </insert>

    <update id="update">
        UPDATE users
        <set>
            name = #{name},
            <if test="pass != null and pass != ''">pass = #{pass},</if>
        </set>
        WHERE id = #{userId}
    </update>

    <update id="delete">
        update users
        set deleted_at = CURRENT_TIMESTAMP
        where id = #{userId}
    </update>
<!--  논리적 삭제에서 물리적 삭제로  -->
    <delete id="deleteExpiredUsers">
        <![CDATA[
        DELETE FROM users
         WHERE deleted_at < DATE_SUB(NOW(), INTERVAL #{pivot} MINUTE)
        ]]>
    </delete>
</mapper>