<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naranghiking.board.dao.BoardDao">
    <resultMap id="BoardDetailMap" type="BoardDetailResponse">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="track_id" property="trackId"/>
        <result column="trackName" property="trackName"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="category" property="category"/>
        <result column="commentCount" property="commentCount"/>
        <result column="created_at" property="createdAt"/>
        <collection property="images" column="id" javaType="java.util.List" ofType="java.lang.String" select="selectImagesByBoardId"/>
        <collection property="comments" column="id" javaType="java.util.List" ofType="BoardCommentResponse" select="selectCommentsByBoardId"/>
    </resultMap>

<!--  게시글 전체 조회  -->
    <select id="selectAll" resultType="BoardListResponse">
        SELECT b.id, u.name, b.title, b.category,
               b.track_id AS trackId, t.name AS trackName,
               -- 날짜 포맷
               DATE_FORMAT(b.created_at, '%Y년%m월%d일, %H시%i분') AS created_at,
               -- 댓글 수 (논리삭제된 댓글 제외)
               (SELECT count(*)
                  FROM board_comments bc
                 WHERE bc.board_id = b.id
                   AND bc.deleted_at IS NULL) AS comment_count,
               -- 저장된 이미지
               (SELECT stored_filename
                  FROM board_images bi
                 WHERE bi.board_id = b.id
                 LIMIT 1) AS image
          FROM boards b
               JOIN users u ON b.user_id = u.id
               LEFT JOIN tracks t ON b.track_id = t.id
        <where>
            <if test="keyword != null"> <!--키워드로 탐색-->
                (title LIKE CONCAT('%', #{keyword}, '%')) OR
                (content LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="category != null"> <!--카테고리로 탐색-->
                AND (category = #{category})
            </if>
            AND b.deleted_at IS NULL
        </where>
         ORDER BY b.id DESC
    </select>
<!--  게시글 단건 조회  -->
    <select id="selectById" resultMap="BoardDetailMap">
        SELECT b.id, b.user_id, u.name, b.track_id, t.name AS trackName, b.title, b.content, b.category,
               -- 날짜 포맷
               DATE_FORMAT(b.created_at, '%Y년%m월%d일, %H시%i분') AS created_at,
               -- 댓글 수 (논리삭제된 댓글 제외)
               (SELECT count(*)
                FROM board_comments bc
                WHERE bc.board_id = b.id
                  AND bc.deleted_at IS NULL) AS comment_count
          FROM boards b
               JOIN users u ON b.user_id = u.id
               LEFT JOIN tracks t ON b.track_id = t.id
         WHERE b.id = #{id}
           AND b.deleted_at IS NULL
    </select>
    <!--  게시글 단건 조회에 필요한 이미지들 가져오기  -->
    <select id="selectImagesByBoardId" resultType="String">
        SELECT stored_filename
          FROM board_images
         WHERE board_id = #{id}
    </select>
    <!--  게시글 단건 조회에 필요한 댓글들 가져오기  -->
    <select id="selectCommentsByBoardId" resultType="BoardCommentResponse">
        SELECT bc.id, u.name, bc.content,
               -- 날짜 포맷
               DATE_FORMAT(bc.created_at, '%Y년%m월%d일, %H시%i분') AS created_at
          FROM board_comments bc JOIN users u ON bc.user_id = u.id
         WHERE board_id = #{id}
           AND bc.deleted_at IS NULL
         ORDER BY bc.id DESC
    </select>
<!--  게시글 생성  -->
    <insert id="insert" parameterType="boardRequest" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO boards(user_id, track_id, title, content, category)
        VALUES (#{userId}, #{trackId, jdbcType=BIGINT}, #{title}, #{content}, #{category})
    </insert>
    <!--  게시글 생성 시 이미지 저장  -->
    <insert id="insertImages">
        INSERT INTO board_images(board_id, original_filename, stored_filename)
        VALUES
            <foreach collection="images" item="image" separator=",">
                (#{id}, #{image.originalFilename}, #{image.storedFilename})
            </foreach>
    </insert>
<!--  게시글 수정  -->
    <update id="update">
        UPDATE boards
           SET title = #{board.title},
               content = #{board.content},
               category = #{board.category},
               updated_at = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <!--  게시글 수정 시 기존 이미지 삭제  -->
    <delete id="deleteImages">
        DELETE FROM board_images
         WHERE stored_filename IN
         <foreach collection="deletedImages" item="image" open="(" separator="," close=")">
             #{image}
         </foreach>
    </delete>
<!--  게시글 삭제  -->
    <update id="deleteById">
        UPDATE boards
           SET deleted_at = CURRENT_TIMESTAMP
         WHERE id = #{id}
    </update>
<!--  물리적 삭제를 위한 게시글의 id 리스트 조회  -->
    <select id="selectExpiredData" resultType="Long">
        <![CDATA[
        SELECT id
          FROM boards
         WHERE deleted_at < DATE_SUB(NOW(), INTERVAL #{pivot} MINUTE)
        ]]>
    </select>
<!--  게시글과 함께 삭제되어야 하는 이미지들의 파일명 조회  -->
    <select id="selectExpiredImages" resultType="String">
        SELECT stored_filename
          FROM board_images
         WHERE board_id IN
         <foreach collection="idList" item="id" open="(" separator="," close=")">
             #{id}
         </foreach>
    </select>
<!--  게시글 물리적 삭제 실시  -->
    <delete id="deleteExpiredBoards">
        DELETE FROM boards
         WHERE id IN
         <foreach collection="idList" item="id" open="(" separator="," close=")">
             #{id}
         </foreach>
    </delete>
</mapper>