<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naranghiking.board.dao.BoardDao">

    <resultMap id="boardResponseMap" type="BoardResponse">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="track_id" property="trackId"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>
<!--  게시글 전체 조회  -->
    <select id="selectAll" resultMap="boardResponseMap">
        SELECT id, user_id, track_id, title, content, category, created_at
          FROM boards
        <where>
            <if test="keyword != null"> <!--키워드로 탐색-->
                (title LIKE CONCAT('%', #{keyword}, '%')) OR
                (content LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="category != null"> <!--카테고리로 탐색-->
                AND (category = #{category})
            </if>
        </where>
        ORDER BY created_at DESC
    </select>
<!--  게시글 단건 조회  -->
    <select id="selectById" resultMap="boardResponseMap">
        SELECT id, user_id, track_id, title, content, category, created_at
          FROM boards
         WHERE id = #{id}
    </select>
<!--  게시글 생성  -->
    <insert id="insert" parameterType="boardRequest">
        INSERT INTO boards(user_id, track_id, title, content, category)
        VALUES (#{userId}, #{trackId, jdbcType=BIGINT}, #{title}, #{content}, #{category})
    </insert>
<!--  게시글 수정  -->
    <update id="update">
        UPDATE boards
           SET title = #{board.title},
               content = #{board.content},
               category = #{board.category},
               updated_at = DEFAULT
        WHERE id = #{id}
    </update>
<!--  게시글 삭제  -->
    <delete id="deleteById">
        DELETE FROM boards
         WHERE id = #{id}
    </delete>
</mapper>