<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naranghiking.board.dao.BoardDao">

<!--  게시글 전체 조회  -->
    <select id="selectAll" resultType="BoardListResponse">
        SELECT b.id, u.name, b.title, b.category, b.created_at,
               -- 댓글 수
               (SELECT count(*)
                  FROM board_comments bc
                 WHERE bc.board_id = b.id) AS commentCount,
               -- 저장된 이미지
               (SELECT stored_filename
                  FROM board_images bi
                 WHERE bi.board_id = b.id
                 LIMIT 1) AS image
          FROM boards b join users u on b.user_id = u.id
         ORDER BY b.id DESC
    </select>
<!--  게시글 단건 조회  -->
    <select id="selectById" resultType="boardResponse">
        SELECT id, user_id, track_id, title, content, category, created_at
          FROM boards
         WHERE id = #{id}
    </select>
<!--  게시글 생성  -->
    <insert id="insert" parameterType="boardRequest">
        INSERT INTO boards(user_id, track_id, title, content, category)
        VALUES (#{userId}, #{trackId, jdbcType=BIGINT}, #{title}, #{content}, #{category})
    </insert>
<!--  게시글 수정  -->
    <update id="update">
        UPDATE boards
           SET title = #{board.title},
               content = #{board.content},
               category = #{board.category},
               updated_at = DEFAULT
        WHERE id = #{id}
    </update>
<!--  게시글 삭제  -->
    <delete id="deleteById">
        DELETE FROM boards
         WHERE id = #{id}
    </delete>
</mapper>