<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naranghiking.board.dao.BoardCommentDao">
<!--  댓글 조회  -->
    <select id="selectById" resultType="BoardCommentResponse">
        SELECT bc.id, bc.user_id, u.name, bc.content, bc.created_at
          FROM board_comments bc JOIN users u ON bc.user_id = u.id
         WHERE bc.id = #{id}
           AND bc.deleted_at IS NULL
    </select>
<!--  댓글 작성  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="comment.id">
        INSERT INTO board_comments (user_id, board_id, content)
        VALUES (#{comment.userId}, #{boardId}, #{comment.content})
    </insert>
<!--  댓글 수정  -->
    <update id="update">
        UPDATE board_comments
           SET content = #{comment.content},
               updated_at = CURRENT_TIMESTAMP
         WHERE id = #{comment.id}
    </update>
<!--  댓글 삭제(논리적)  -->
    <update id="delete">
        UPDATE board_comments
           SET deleted_at = CURRENT_TIMESTAMP
         WHERE id = #{commentId}
    </update>
<!--  댓글 삭제(물리적)  -->
    <delete id="deleteExpiredData">
        <![CDATA[
        DELETE FROM board_comments
         WHERE deleted_at < DATE_SUB(NOW(), INTERVAL #{pivot} MINUTE)
        ]]>
    </delete>
</mapper>