<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naranghiking.mtn.dao.MtnDao">

<!--  산 전체 조회 -->
    <select id="selectAll" resultType="com.naranghiking.mtn.dto.Mtn">
        select * from mountains
    </select>
<!--  산 단일 조회  -->
    <select id="select" resultType="com.naranghiking.mtn.dto.Mtn">
        select * from mountains
        where id = #{id}
    </select>

    <insert id="insert">
        insert into mountains (name, location, height, description)
        values (#{name}, #{location}, #{height}, #{description})
    </insert>

    <update id="update">
        update mountains
        set name = #{name},
            location = #{location},
            height = #{height},
            description = #{description},
            original_filename = #{originalFilename},
            stored_filename = #{storedFilename}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from mountains
        where id = #{id}
    </delete>
</mapper>